.navbar {
    top: 0;
    position: sticky;
    z-index: 1;
    // background-color: rgb(253, 253, 253);
    
    .nav-link {
        color: white !important;
    }
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-text {
    color: rgb(194, 34, 34) !important;
    padding: 8px 0 8px 8px;
}

