.primary-button {
    width: 200px;
    padding: 10px;
    background-color: #338EAB;
    text-align: center;
    text-decoration: none;
    border: none;
    color: white;
    border-radius: 8px;
    margin-top: 20px;
}

.primary-button:hover {
    background-color: #2d7a94;
    color: white;
}

.delete-button {
    width: 200px;
    padding: 10px;
    background-color: #ab3333;
    text-align: center;
    text-decoration: none;
    border: none;
    color: white;
    border-radius: 8px;
    margin-top: 20px;
}

.delete-button:hover {
    background-color: #942d2d;
    color: white;
}

.success-button {
    width: 200px;
    padding: 10px;
    background-color: #11851a;
    text-align: center;
    text-decoration: none;
    border: none;
    color: white;
    border-radius: 8px;
    margin-top: 20px;
}

.success-button:disabled {
    background-color: #11851a;
    color: white;
}