button {
    width: 200px;
    padding: 10px;
    background-color: #338EAB;
    border: none;
    color: white;
    border-radius: 8px;
    margin-top: 20px;
}

button:hover {
    background-color: #2d7a94;
}