.primary-button, .delete-button, .success-button {
    width: 200px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border: none;
    color: white;
    border-radius: 8px;
    margin-top: 20px;
}

.primary-button {
    background-color: $primaryColor;
}

.primary-button:hover {
    background-color: #2b738b;
    color: white;
}

.delete-button {
    background-color: $deleteColor;
}

.delete-button:hover {
    background-color: #832929;
    color: white;
}

.success-button {
    background-color: $successColor;
}

.success-button:disabled {
    background-color: $successColor;
    color: white;
}