.search-link {
    color: white;
    text-decoration: none;
}

.search-link:hover {
    color: rgb(223, 223, 223);
    text-decoration: none;
}

.search-bar {
    display: flex;
    flex-direction: column;
    position: relative;
}

.navbar-collapse {
    justify-content: space-between;
}

.search-result {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    margin-top: 37px;
    background-color: white;
    border-left: #212529 2px solid;
    border-right: #212529 2px solid;
    border-bottom: #212529 2px solid;
    border-radius: 0 0 8px 8px;
    padding: 0px 6px 12px;

    a {
        color: #212529;
        margin-top: 10px;
    }
}

.search-input {
    border-radius: 8px 8px 0 0;
}

.border-search {
    border-radius: 8px;
}

.hide-result {
    display: none;
}