.booking-form, .contact-form, .login-form {
    h1 {
        margin-bottom: 40px;
    }

    label {
        padding: 0;
    }

    .btn {
        display: block;
        margin: 40px auto 0;
        max-width: 300px;
        width: 100%;
    }

}

.booking-form {
    .col-6 {
        max-width: 472px;
        width: 100%;
    }
}