.home-hero-image {
    display: flex;
    background-image: url(../../../images/hotel-background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    background-position-y: -40px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.front-logo {
    width: 300px;
    top: 150px;
    position: absolute;
}

.featured-sub {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    .home-featured {
        max-width: 300px;
        margin-top: 40px;
        img {
            border-radius: 8px;
            width: 100%;
        }
    }
}