.home-hero-image {
    display: flex;
    background-image: url(../../../images/hero-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    align-items: center;
    justify-content: center;
}

.hotel-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.418);
    padding: 40px;
    max-width: 800px;
    width: 80%;
    border-radius: 8px;
}

.featured-sub {
    display: flex;
    justify-content: space-between;
    padding: 0;
    .home-featured {
        max-width: 300px;
        
        img {
            border-radius: 8px;
            width: 100%;
        }
    }
}