.hotel-details {
    display: flex;
    flex-direction: column;

    h1 {
        margin-top: 80px;
    }

    .row {
        margin-top: 20px;
    }

    img {
        max-width: 600px;
        
    }

    .info-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}